/* Default styles for large screens */
.footer .footer__logo,
.footer .footer__QuickLink,
.footer .footer__heading,
.footer .footer__New {
  text-align: left;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .footer .footer__logo,
  .footer .footer__QuickLink,
  .footer .footer__heading,
  .footer .footer__New,p {
    text-align: center;
  }
  .logo{
    display: flex;
    justify-content: center;
  }
  .footer__content{
    font-size: 0.5em;
    margin: 10px;
  }
}
